<mat-card>
  <mat-card-title>Alterar produto</mat-card-title>

  <form [formGroup]="productForm">
    <mat-form-field color="warn">
      <mat-label>Selectionar tipo</mat-label>
      <mat-select
        [(ngModel)]="products.family"
        formControlName="family"
        [value]="products.family"
      >
        <mat-option value="Eletrônico"> Eletrônico </mat-option>
        <mat-option value="Comida"> Comida </mat-option>
        <mat-option value="Livro"> Livro </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" color="warn">
      <mat-label>Nome</mat-label>
      <input
        matInput
        placeholder="Ex: Notebook"
        formControlName="name"
        [(ngModel)]="products.name"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width" color="warn">
      <mat-label>Preço</mat-label>
      <input
        matInput
        placeholder="Ex: R$ 8,000"
        formControlName="price"
        [(ngModel)]="products.price"
      />
    </mat-form-field>
  </form>

  <div class="buttons">
    <button
      mat-raised-button
      color="warn"
      [disabled]="productForm.invalid"
      (click)="onUpdate()"
    >
      Alterar
    </button>
    <button mat-raised-button color="accent" (click)="cancel()">
      Cancelar
    </button>
  </div>
</mat-card>
