<h1 mat-dialog-title>Inserir lembrete</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="dialogForm">
    <mat-form-field class="example-full-width" color="warn">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" name="title" />
    </mat-form-field>

    <mat-form-field class="example-full-width" color="warn">
      <mat-label>Lembrete</mat-label>
      <textarea
        matInput
        type="textarea"
        formControlName="message"
        name="message"
      >
      </textarea>
    </mat-form-field>

    <div mat-dialog-actions>
      <button
        mat-raised-button
        (click)="openCreate()"
        [disabled]="dialogForm.invalid"
        color="warn"
      >
        Inserir
      </button>
      <button mat-raised-button color="accent" (click)="cancel()">
        Cancelar
      </button>
    </div>
  </form>
</div>
